<!--
  Generated template for the Mypopover page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>mypopover</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

  <ion-list>
    <ion-item>
      Profile
    </ion-item>
    <ion-item (click)="signOut()">
      Sign Out
    </ion-item>
  </ion-list>

</ion-content>
