<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="darkgreen">
    <ion-title>Inventory Mobile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div text-center style="margin-top: 10px;">
    <img src="img/firebase.png"
    style="width: 150px; " />
  </div>

  <ion-list style="margin-top: 20px;">
  <ion-item>
    <ion-input type="text" placeholder="Username" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
  </ion-item>
</ion-list>

<ion-buttons>
  <button full ion-button color="darkgreen" (click)="loginUser()"> Login </button>

  <button full ion-button color="darkgreen" style="margin-top: 10px;" (click)="signUp()"> Sing Up </button>

</ion-buttons>

<ion-footer>
  <ion-toolbar>
    <button full ion-button color="darkgreen" (click)="getStart()"> Get Started </button>
  </ion-toolbar>
</ion-footer>

</ion-content>
