<ion-header>
  <ion-navbar color="darkgreen">
    <ion-title>{{data}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="redirectProductPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

<ion-navbar color="darkgreen">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-navbar>

  <ion-list>
    <ion-item-sliding  *ngFor="let item of items">

    <ion-item>

        <a>{{item.id}}</a>
        <a style="margin-left: 20px;">{{item.name}}</a>

    </ion-item>

    <ion-item-options>
      <button ion-button color="secondary" small (click)="itemEdit(item)"><ion-icon name="md-construct"></ion-icon>Edit</button>
      <button ion-button color="danger" small (click)="itemDelete(item)"><ion-icon name="trash"></ion-icon>Delete</button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

</ion-content>
