<!--
  Generated template for the Product page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Add Product</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center style="margin-top: 10px;">
  	<img src="img/Pic.ico"
  	style="width: 100px; " />
  </div>

  <ion-item>
     <ion-label floating>Product ID</ion-label>
     <ion-input type="text" value="" [(ngModel)]="productID"></ion-input>
   </ion-item>

   <ion-item>
      <ion-label floating>Product Name</ion-label>
      <ion-input type="text" value="" [(ngModel)]="productName"></ion-input>
    </ion-item>

    <button ion-button block color="secondary" style="margin-top: 20px;" (click)="save()"> Save </button>
</ion-content>
