<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="darkgreen">
      <div text-center style="margin-top: 10px;">
        <img src="img/firebase.png"
        style="width: 150px; " />
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <!-- <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list> -->
    <h1 color="danger" class="cen">Profile Area</h1>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
